{{ define "menu" }}

          <div class="menu">
            <div>
             <button hx-get="/personal-acount" hx-target="#content" hx-swap="innerHTML" >
    □
             </button>
            </div> 
                        <div>
             <button hx-get="/personal-acount" hx-target="#content" hx-swap="innerHTML" >
    ☰
             </button>
            </div> 
                        <div>
             <button hx-get="/personal-acount" hx-target="#content" hx-swap="innerHTML" >
    ■
             </button>
            </div> 
                        <div>
             <button hx-get="/personal-acount" hx-target="#content" hx-swap="innerHTML" >
    ⋮
             </button>
            </div> 
          </div>

{{ end }}