{{ define "menu" }}

          <div class="menu">
           
             <button hx-get="/personal-acount" hx-target="#content" hx-swap="innerHTML" >
    □
             </button>
            
                      
             <button hx-get="/personal-acount" hx-target="#content" hx-swap="innerHTML" >
    ☰
             </button>
        
             <button hx-get="/personal-acount" hx-target="#content" hx-swap="innerHTML" >
    ■
             </button>
          
                        
             <button hx-get="/personal-acount" hx-target="#content" hx-swap="innerHTML" >
                    1
             </button>
 
          </div>

{{ end }}