  






  .heart {
    display: inline-block;

    animation: heartbeat 3s infinite;
    transform-origin: center;
}

@keyframes heartbeat {
    0%   { transform: scale(1); }
    25%  { transform: scale(1.2); }
    50%  { transform: scale(1); }
    75%  { transform: scale(1.2); }
    100% { transform: scale(1); }
}

.flower {
    display: inline-block;
    animation: blossom 2s linear infinite;
    transform-origin: center;
}

@keyframes blossom {
    0%   { transform: scale(1.2) rotate(0deg); }
    50%  { transform: scale(1.3) rotate(-180deg); }
    100% { transform: scale(1.2) rotate(-360deg); }
}
  /* <span class="heart">❤️</span><span> &copy; 2025 Agoi </span> это html */

