









{{ define "auth" }}

<p>Напишите вашу почту, отправим вам пароль для старта.</p>

<!-- Поле для ввода почты, добавим id для удобства -->
<input type="text" id="email" name="email" placeholder="Введите вашу почту">


<p>Пожалуйста подтвердите каманду на запуск ракеты hagac</p>


<label>
  <input type="checkbox" name="subscribe" value="1">
  Вызвать такси
</label><br>
<label>
  <input type="checkbox" name="subscribe" value="2">
  Подтвердить запуск двигателя
</label><br>
<label>
  <input type="checkbox" name="subscribe" value="3">
  Заварить кофе
</label><br>


<!-- Кнопка, которая отправляет почту на сервер через GET (или лучше POST) -->
<button 
    hx-post="/get-password"         
    hx-target="#content" 
    hx-swap="innerHTML"
    hx-include="#email">      <!-- включаем значение поля email в запрос -->
    Получить пароль
</button><br>

<button hx-get="/" hx-target="body" hx-swap="innerHTML">Back</button>

{{ end }}