








{{ define "get__password" }}

<p>Введите код из письма для входа.</p>

<!-- Скрыто передаём email, чтобы знать кому проверять код -->
<input type="hidden" id="email" name="email" value="{{.Email}}">

<input type="text" id="code" name="code" placeholder="Введите код">

<button 
    hx-post="/verify-code"         
    hx-target="#content" 
    hx-swap="innerHTML"
    hx-include="#email,#code">
    Войти
</button>

<button hx-get="/" hx-target="body" hx-swap="innerHTML">Back</button>

{{ end }}